@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https//fonts.googleapis.com/css?family=Open+Sans';
* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yanone Kaffeesat', sans-serif;
    letter-spacing: 1.5px;
    /*Espacio entre las letras*/
}

.section-titulo {
    text-align: center;
    font-size: 40px;
    color: #4b406b;
    margin-bottom: 15px;
}

.contenedor {
    margin: auto;
    width: 99%;
}


/*Estilos Header*/

.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo,
.icon-menu {
    margin: 5px;
    color: #fff;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #4b406b;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}


/*Estilos del menu*/

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-link {
    display: block;
    padding: 15px;
    background: #4b406b;
    text-decoration: none;
    color: #fff;
}

.menu-link:hover,
.select {
    background: white;
    color: #4b406b;
}

.mostrar {
    left: 0;
}


/*Estilos de Banner*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 15px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner-texto {
    display: none;
}


/*Estilos Info*/

.info-columna {
    background: #4b406b;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}

.section-titulo {
    margin-top: -20px;
}


/*Estilos Cursos*/

.cursos-columna {
    position: relative;
    margin-bottom: 30px;
}

.cursos-descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}

.social {
    display: inline-flex;
}

.icono-foot {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.cursos-img {
    width: 100%;
}

.cursos-titulo {
    font-size: 25px;
    margin: 5px 0;
}

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer[class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}


/*-------Estilos responsive--------*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }
    .banner-titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .banner-texto {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    .info,
    .cursos {
        display: flex;
        justify-content: space-between;
    }
    .info-columna {
        width: 32%;
    }
    .info-titulo {
        font-size: 16px;
        margin: 5px 0;
    }
    .section-titulo {
        width: 100%;
    }
    .cursos {
        flex-wrap: wrap;
    }
    .cursos-titulo {
        margin-top: -3px;
        font-size: 17px;
    }
    .cursos-txt {
        font-size: 12px;
        margin-top: -5px;
    }
    .cursos-columna {
        width: 49%;
    }
}

@media(min-width:768px) {
    .banner-titulo {
        font-size: 50px;
    }
    .banner-texto {
        font-size: 25px;
    }
    .cursos-titulo {
        font-size: 27px;
    }
    .cursos-txt {
        font-size: 19px;
        margin-top: -5px;
    }
}

@media(min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
    .section-titulo {
        font-size: 50px;
        margin: 30px 0;
    }
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .menu-link {
        font-size: 20px;
        background: none;
    }
    .select {
        color: #fff;
        background: #4b406b;
    }
    .icon-menu {
        display: none;
    }
    .banner-titulo {
        font-size: 60px;
    }
    .banner-texto {
        font-size: 30px;
    }
    .info-columna {
        padding: 30px;
    }
    .info-titulo {
        font-size: 40px;
        text-align: center;
    }
    .cursos-descripcion {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .cursos-titulo {
        font-size: 40px;
    }
    .cursos-txt {
        font-size: 20px;
    }
}

@media(min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    .logo {
        font-size: 60px;
    }
}